extends ../layout

block content
    h1 Book: #{book.title}
    if(errors)
        h2.errors Ooops an error occured!
        ul.errors
            each error in errors
                li=error.message
    form(action=`/books/${book.id}?_method=PUT`, method="post")
        include form-book.pug
        p
            input(type='submit', value='Update')
    h2 Loan History
    table
        thead
            tr
                th Book
                th Patron
                th Loaned on
                th Return by
                th Returned on
                th Action 
        if book.Loans             
            tbody
                each loan in book.Loans
                    tr
                        td
                            a(href=`/books/${book.id}`)= book.title
                        td.patron
                            a(href=`/patrons/${loan.Patron.id}`) #{loan.Patron.first_name} #{loan.Patron.last_name}
                        td.date #{moment(loan.loaned_on).utc().format('YYYY-MM-DD')}
                        td.date #{moment(loan.return_by).utc().format('YYYY-MM-DD')}
                        td.date #{loan.returned_on ? moment(loan.returned_on).utc().format('YYYY-MM-DD') : null}
                        td
                            if !loan.returned_on
                                a.button(href=`/loans/return/${loan.id}`) Return Book
