extends ../layout

block content
    h1= title
    p
        a.button(href='/books/new') Create New Book
    div.filter
        span Filters:
        ul.filter__buttons
            li
                a(href='/books') All
            li
                a(href='/books/overdue') Overdue
            li
                a(href='/books/checked-out') Checked Out         
    if totalPages && totalPages.length > 1               
        ul.pagination
            each pageNumber in totalPages
                li
                    +paginationUrl(partialUrl, pageNumber)
    //- form(action=`/books/search/$?_method=PUT` method="get")
    //-     label(for="#book_search")
    //-     input#book_search(type="search" placeholder="search by title, author, genre, etc.")    
    //-     input(type="submit" value="search")                             
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year Released
        tbody
            each book in books
                tr
                    td
                        a(href=`/books/${book.id}`)= book.title
                    td= book.author
                    td= book.genre
                    td= book.first_published
                   
    
