extends ../layout

block content
    h1 Loans
    p
        a.button(href='/loans/new') Create New Loan
    div.filter
        span Filters:
        ul.filter__buttons
            li
                a(href='/loans') All
            li
                a(href='/loans/overdue') Overdue
            li
                 a(href='/loans/checked-out') Checked Out
    table
        thead
            tr
                th Book
                th Patron
                th Loaned on
                th Return by
                th Returned on
                th Action
        tbody
            each loan in loans
                tr
                    td
                        a(href=`/books/${loan.book_id}`) #{loan.Book.title}
                    td.name
                        a(href=`/patron/${loan.patron_id}`) #{loan.Patron.first_name} #{loan.Patron.last_name}
                    td.date #{moment(loan.loaned_on).utc().format('YYYY-MM-DD')}
                    td.date #{moment(loan.return_by).utc().format('YYYY-MM-DD')}
                    td.date #{loan.returned_on ? moment(loan.returned_on).utc().format('YYYY-MM-DD') : null}
                    td
                        if !loan.returned_on
                            a.button(href=`/loans/return/${loan.id}`) Return Book
                